{% extends 'base.html.twig' %}

{% block title %}Hello TestCasusController!{% endblock %}

{% block body %}


<div class="example-wrapper">

    <li>
        <a href="{{ path('js-worker') }}">js worker</a>
    </li>
</div>
{% endblock %}
