{% extends 'base.html.twig' %}

{% block title %}Hello DockerdashboardController!{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<div>
			{{ Container.Image }} <br>
			{{ Container.Id }} <br>
			{{ Container.State }}:
			{{ Container.Status }}
			<br><br>
		</div>
	</div>
{% endblock %}
