{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="./css/dashboard.css">
{% endblock %}

{% block username %}
    {{ User.username }}
{% endblock %}

{% block body %}
    <main>
        <h1>Homepage</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <br>
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat<br>
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </main>
{% endblock %}
